__pycache__/
*.pyc
.env
node_modules/
.DS_Store
storage/assignments/*
!storage/assignments/.gitkeep
storage/generated/offers/*
!storage/generated/offers/.gitkeep
storage/generated/certificates/*
!storage/generated/certificates/.gitkeep
